img {
    width: 10%;
}

ul a {
    color: rgb(13, 163, 26);
}

a {
    color: black;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}